@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;
$color-back: #EFEFEF;

$layout-width-inner: 1200px;

$font-en: 'Lato', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;


$breakpoints: (
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'pc': "(min-width: #{$layout-width-inner})"
) !default;


@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


body {
  font-family: $font-ja;
  font-size: 16px;
  line-height: 1.6;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.inner {
  max-width: $layout-width-inner;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.btn {
  background-color: $color-main;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
}

section {
  padding: 80px 0 100px 0;
  @include mq('sp') {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}


.section-title {
  text-align: center;
  font-size: 48px;
  line-height: 1.9;
  font-family: $font-en;
  &::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: $color-main;
    display: block;
    margin: 0 auto 80px;
    @include mq('sp') {
      width: 42px;
      height: 3px; 
      margin-bottom: 24px;
    }
  }
  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 18px;
  }
}


// header
#header {
  height: 100px;
  background-color: $color-main;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.16);
  z-index: 100;
  @include mq('sp') {
    height: 60px;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.header-logo {
  width: 205px;
  @include mq('sp') {
    width: 150px;
  }
  a {
    display: block;
  }
  img {
    vertical-align: middle;
    @include mq('sp') {
      vertical-align: baseline;
    }
  }
}
.gl-nav {
  display: flex;
  align-items: center;
  font-family: $font-en;
  @include mq('sp') {
    display: none;
  }
  li:not(:first-child){
    margin-left: 40px;
  }
  a {
    color: #fff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      transition: all 0.3s ease 0s;
    }
    &:hover,
    &.is-active {
      &::after {
        background: $color-accent;
      }
    }
  }
}

// top

.top {
  height: 600px;
  width: 100%;
  background-image: url(../img/mainvisual.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  @include mq('sp') {
    margin-top: 60px;
  }
}

.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  @include mq('sp') {
    padding-left: 46px;
    padding-right: 46px;
  }

  .top-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    @include mq('sp') {
      font-size: 32px;
      line-height: 1.3;
    }
  }
  .top-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    @include mq('sp') {
      font-size: 18px;
      margin-top: 10px;
    }
  }
  .contact-link {
    margin-top: 36px;
    font-size: 24px;
    width: 380px;      /* レスポンシブを考えてmax-width:100%;を設定しておく*/
    max-width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    transition: all 0.3s ease 0s;
    @include mq('sp')  {
      margin-top: 18px;
      width: 280px;
      height: 60px;
      line-height: 60px;
    }
    &:hover {
      opacity: 0.7;
    } 
  }
}


// card

#card {
  background-color: $color-back;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  @include mq('tab') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq('sp') {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
 
  .card-img {
    margin-bottom: 16px;
    img {
      width: 100%;
    }
  }
  .card-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: #6F7579;
    line-height: 1;
  }
  .card-text {
    color: #6F7579;
    font-weight: bold;
  }
}


// News

.news-items {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.news-item {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  &:not(:first-child) {
    border-top: 1px solid #707070;
    padding-top: 16px;
  }

  @include mq('sp') {
    flex-direction: column;
    align-items: start;
  }
}
.news-meta {
  display: flex;
  align-items: center;
  width: 185px;
}

.news-date {
  width: 105px;
  font-family: $font-en;
}

.news-label {
  a {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background: #666;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease 0s;

    &.is-blue {
      background: #3F51B5;
    }
    &.is-red {
      background: #E81919;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.news-title {
  width: calc(100% - 185px);
  padding-left: 20px;
  a {
    line-height: (20 / 16);
  }
  @include mq('sp') {
    width: 100%;
    margin-top: 6px;
    display: block;
  }
}

.news-more {
  margin-top: 40px;
  text-align: center;
  font-family: $font-en;
  a {
    color: #E81919;
    font-weight: bold;
    padding-right: 14px;
    position: relative;
    transition: all 0.3s ease 0s;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-40%);
      width: 7px;
      height: 11px;
      background: url(../img/news-arrow.png) no-repeat center center / contain;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

// price
#price {
  background-color: $color-back;
}
.price-inner {
  display: flex;
  @include mq('sp') {
    flex-direction: column;
  }
}
.price-vis {
  width: (454 / 1200 * 100%);
  margin-right: 40px;
  @include mq('sp') {
    width: 100%;
    margin-right: 0;
  }
  img {
    vertical-align: bottom;
    object-fit: cover;
  }
}

.price-tbl {
  width: (708 / 1200 * 100%);
  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  }
  table {
    border: 1px solid #707070;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    tr {
      height: 58px;
      th {
        color: #fff;
        background-color: #999999;
        font-weight: normal;
        border: 1px solid #707070;
        font-family: $font-en;
        &:first-child {
          width: 172px;
          @include mq('sp') {
            width: 112px;
          }
        }
      }
      td {
        text-align: right;
        font-weight: bold;
        padding-right: 24px;
        border: 1px solid #707070;
        &.is-red {
          color: #E81919;
          line-height: 1.2;
          span {
            display: block;
            font-size: 13px;
            color: #333333;
          }
        }
      }
    }
  }
}

.price-text {
  font-size: 14px;
  margin-top: 10px;
  a {
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }
}


// access 
.access-inner {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}
.map {
  width: 100%;
  height: 400px;
  background-color: #6F7579;
  margin-bottom: 16px;
}
.access-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  dt {
    width: 104px;
    font-weight: bold;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
  dd {
    width: calc(100% - 104px);
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
}
.map-link {
  text-align: center;
  margin-top: 30px;
  a {
    color: #fff;
    background: $color-main;
    font-weight: bold;
    display: inline-block;
    width: 304px;
    max-width: 100%;
    height: 56px;
    line-height: 56px;
    border-radius: 8px;
    box-shadow: 0 3px 2px rgba(#000, 0.16);
    position: relative;
    transition: all 0.3s ease 0s;
    &::after {
      content: "";
      width: 17px;
      height: 16px;
      background: url(../img/button-arrow@2x.png) no-repeat center center / contain;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      right: 20px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}


// contact 
#contact {
  background-color: $color-back;
}
.contact-box {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  @include mq('sp') {
    padding: 24px;
  }
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  // text-align: left;
  @include mq('sp') {
    flex-direction: column;
  }
  dt {
    width: 160px;
    font-weight: bold;
    line-height: 1;
    margin-top: 14px;
    @include mq('sp') {
      width: 100%;
      margin-top: 0;
    }
    .required {
      position: relative;
      &::after {
        content: "必須";
        display: inline-block;
        color: #fff;
        background-color: #E81919;
        font-size: 14px;
        padding: 4px 8px;
        text-align: center;
        border-radius: 4px;
        line-height: 1;
        margin-top: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        @include mq('sp') {
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 6px);
          width: 44px;
          margin-top: 0;

        }
      }
    }
  }
  dd {
    width: calc(100% - 160px);
    position: relative;
    line-height: 1;
    margin-bottom: 60px;
    @include mq('sp') {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 30px;
    }
    &:last-of-type {
      margin-bottom: 32px;
      @include mq('sp') {
        margin-bottom: 26px;
      }
    }
    [type="text"] {
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 12px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }
    [type="email"] {
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 12px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }
    select {
      box-shadow: none;
      border: 1px solid #707070;
      padding: 14px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
      background: #fff url(../img/select-arrow@2x.png) no-repeat right 12px center / 17px 14px;
    }
    textarea {
      height: 240px;
      box-shadow: none;
      border: 1px solid #707070;
      background: #fff;
      padding: 12px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
      resize: none;
    }
  }
}

.contact-radio {
  margin-bottom: 64px;
  line-height: 1;
  @include mq('sp') {
    margin-bottom: 30px;
  }
  [type="radio"] {
    display: none;
  }
  span {
    display: inline-block;
    padding-left: 26px;
    position: relative;
    margin-right: 36px;
    @include mq('sp') {
      margin-right: 20px;
      margin-bottom: 8px;
    }
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 50%;
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: $color-main;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: opacity 0.3s ease 0s;
      opacity: 0;
    }
  }

  [type="radio"]:checked + span {
    &::after {
      opacity: 1;
    }
  }
}


.contact-check {
  text-align: center;
  margin-bottom: 30px;

  [type="checkbox"] {
    display: none;
  }
  span {
    display: inline-block;
    padding-left: 49px;
    position: relative;

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      background: #fff;
      border: 1px solid #707070;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &::after {
      content: "";
      width: 25px;
      height: 25px;
      border: 1px solid #707070;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background:transparent url(../img/checkbox@2x.png) no-repeat center center / contain;
      transition: opacity 0.3s ease 0s;
      opacity: 0;
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      opacity: 1;
    }
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }

}

.contact-btn {
  text-align: center;
  [type="submit"] {
    display: inline-block;
    background: $color-main url(../img/button-arrow@2x.png) no-repeat right 12px center / 17px 16px;
    color: #fff;
    font-weight: bold;
    padding: 20px 120px;
    border-radius: 8px;
    line-height: 1;
    box-shadow: 0 3px 2px rgba(#000, 0.16);
    appearance: none;
    font-family: inherit;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }
}




// qa

.qa-items {
  width: 900px;
  margin: 80px auto 0;
  max-width: 100%;
}

.qa-item {
  cursor: pointer;
  &:nth-child(n + 2) {
    margin-top: 24px;
  }
}

.qa-box {
  border: 1px solid $color-main;
}

.qa-box_q {
  background: $color-main;
  color: #fff;
  padding: 12px 56px;
  font-weight: bold;
  position: relative;

  &::before {
    content: "Q";
    position: absolute;
    top: 12px;
    left: 20px;
  }
}

.qa-box_icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  &.is-open {
    .qa-box_bar2 {
      transform: rotate(90deg);
    }
  }
}

.qa-box_bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa-box_bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s ease 0s;
}

.qa-box_a {
  background-color: #fff;
  color: $color-main;
  font-weight: bold;
  line-height: (24 / 16);
  padding: 16px 30px 16px 20px;
  display: none;
}

.qa-box_content {
  position: relative;
  padding-left: 35px;

  &::before {
    content: "A";
    position: absolute;
    top: 0;
    left: 0;
  }
}











// footer

#footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
  @include mq('sp') {
    padding: 30px 0 14px;
  }
}
.footer-inner {
  display: flex;
  margin-bottom: 46px;
  @include mq('sp') {
    flex-direction: column;
    margin-bottom: 22px;
  } 
}
.footer-left {
  font-size: 14px;
  width: 34%;
  @include mq('sp') {
    width: 100%;
  }
}
.footer-contact {
  li:first-child {
    margin-bottom: 12px;
    @include mq('sp') {
      margin-bottom: 6px;
    }
  }
}
.footer-logo {
  width: 205px;
  margin-bottom: 32px;
  a {
    display: block;
  }
  img {
    vertical-align: middle;
  }
}
.footer-center {
  width: 44%;
  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  } 
}
.footer-list {
  display: flex;
  font-family: $font-en;
  li + li {
    margin-left: 40px;
    @include mq('sp') {
      margin-left: 20px;
    }
  }
  a {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }
}
.footer-right {
  width: 22%;
  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  }
  .footer-sns {
    display: flex;
    justify-content: flex-end;
    @include mq('sp') {
      justify-content: center;
    }
    li:not(:first-child) {
      margin-left: 16px;
    }
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        opacity: 0.7;
      }
    }
    img {
      width: 30px;
    }
  }
}
.copy {
  text-align: center;
  font-size: 14px;
  font-family: $font-en;
}


// to-top
.to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  @include mq('sp') {
    bottom: 12px;
    right: 12px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 60px;
      @include mq('sp') {
        width: 40px;
      }
    }
  }
}



// swiper
.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background:transparent url(../img/arrow-next@2x.png) no-repeat center center / contain;
  right: calc(50% - #{$layout-width-inner / 2});

  &::after {
    display: none;
  }

  @include mq('tab') {
    right: 10px;
  }
  @include mq('sp') {
    display: none;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background:transparent url(../img/arrow-prev@2x.png) no-repeat center center / contain;
  left: calc(50% - #{$layout-width-inner / 2});

  &::after {
    display: none;
  }

  @include mq('tab') {
    left: 10px;
  }
  @include mq('sp') {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #FFFFFF9E;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

// drawer-menu

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
  cursor: pointer;
  @include mq('sp') {
    display: block;
  }

  &.is-active {
    transform: translateX(-200px);

    .drawer-bar1 {
      transform: rotate(-45deg);
      top: 8px;
    }
    .drawer-bar2 {
      display: none;
    }
    .drawer-bar3 {
      transform: rotate(45deg);
      top: 8px;
    }
  }
}
.drawer-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}
.drawer-bar1,
.drawer-bar2,
.drawer-bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}
.drawer-bar1 {
  top: 0;
}
.drawer-bar2 {
  top: 8px;
}
.drawer-bar3 {
  top: 16px;
}


.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }
}

.drawer-list {
  li {
    padding: 18px 20px;
    border-bottom: 1px dotted #707070;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 11px;
      background: url(../img/arrow-b@2x.png) no-repeat center center / contain;
    }
    a {
      display: block;
      color: #707070;
    }
  }
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 298;
  display: none;

  &.is-active {
    display: block;
  }
}

// modal-contact

.modal-contact {
  position: fixed;
  z-index: 501;
  width: 900px;
  max-width: calc(100% - 24px * 2);
  max-height: calc(100% - 24px * 2);
  height: 652px;
  background: #fff;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  color: #707070;
  display: none;

  @include mq('sp') {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.modal-contact_head {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 24px;
  position: relative;

  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: $color-main;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.modal-contact_content {
  margin-top: 40px;
  height: calc(100% - 88px - 108px);
  overflow: auto;
}
.modal-contact_sub-head {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background: $color-main;
  }

  &:not(:first-child) {
    margin-top: 40px;
  }
}
.modal-contact_text {
  margin-top: 16px;
  line-height: (24 / 16);
  padding-left: 20px;
}

.modal-contact_button {
  margin-top: 60px;
  text-align: center;
  a {
    display: inline-block;
    width: 176px;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    background-color: $color-main;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
  }
}
.modal-contact_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
}
.modal-contact_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.3);
  z-index: 500;
  display: none;
}